extends layout

block headContent
	title Home
	
block content
	h1 #{coinConfig.siteTitle}
	hr
	
	if (latestBlocks)
		div(class="row mt-5")
			div(class="col")
				h3 新近区块
					if (getblockchaininfo.initialblockdownload)
						small  (#{(getblockchaininfo.headers - getblockchaininfo.blocks).toLocaleString()} behind)

			div(class="col")
				span(style="float: right;")
					a(href="/blocks") 浏览区块 &raquo;

		hr

		- var blocks = latestBlocks;
		- var blockOffset = 0;

		include includes/blocks-list.pug